@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --body-font: 'Poppins', sans-serif;
  --fs-normal: .75rem;
  --fs-sm: .6rem;
  --fs-md: 1rem;
  --fs-lg: 1.2rem;
  
  --header-height: 4rem;
  --header-height-lg: 4rem;

  --nav-width: 50px;
  --nav-width-expand: 220px;

  --theme-acent: #2c5d07;
  --theme-acent-dark: #275306;
  --theme-light: #ebfae1;
  --theme-lighter: #f6fff0;
  --theme-dark: #222d32;
}

*,
::before,
::after {
  box-sizing: border-box
}

body {
  font-family: var(--body-font);
  font-size: var(--fs-normal);
}

a {
  text-decoration: none;
  color: var(--theme-acent);
}

h1, h2, h3, h4, h5 ,h6 {
  margin: 0;
}

.scroll-x {
  flex-wrap: nowrap;
  overflow: auto hidden;
  scroll-snap-type: x mandatory;
}
.scroll-y {
  scroll-snap-type: y mandatory;
}
.scroll-x > * ,
.scroll-y > * {
  scroll-snap-align: start;
}
.scroll-x::-webkit-scrollbar,
.scroll-y::-webkit-scrollbar {
  appearance: none;
}

.active>.page-link {
  z-index: unset;
}

.dropdown-indicator {
  position: relative
}

.dropdown-indicator:after {
  content: "";
  display: none;
  position: absolute;
  right: 5px;
  height: .4rem;
  width: .4rem;
  border-right: 1px solid rgba(var(--bs-light-rgb), .75);
  border-bottom: 1px solid rgba(var(--bs-light-rgb), .75);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: all .3s ease-in-out;
  transform-origin: center;
  transition-property: border-color, -webkit-transform;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform
}

.dropdown-indicator[aria-expanded=true]:after {
  transform: translateY(-50%) rotate(225deg)
}

.text-theme {
  color: var(--theme-acent);
}

.bg-primary {
  background-color: rgba(59, 113, 202, 1) !important;
}
.bg-success {
  background-color: rgba(20, 164, 77, 1) !important;
}
.bg-warning {
  background-color: rgba(228, 161, 27, 1) !important;
}
.bg-danger {
  background-color: rgb(220, 76, 76) !important;
}
.bg-purple {
  background-color: rgb(162, 76, 220) !important;
}
.bg-orange {
  background-color: rgb(219, 110, 37) !important;
}
.bg-cyan {
  background-color: rgb(7, 166, 194) !important;
}
.bg-navy {
  background-color: rgb(26, 7, 194) !important;
}

.bg-primary-light {
  background-color: #dfe7f6 !important;
}
.bg-success-light {
  background-color: #d6f0e0 !important;
}
.bg-warning-light {
  background-color: #fbf0da !important;
}
.bg-danger-light {
  background-color: #f9e1e5 !important;
}

.card {
  border: 0;
  box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);
}

.btn-sm {
  padding: .375rem 1rem;
  font-size: var(--fs-normal);
}


/* ===== LOGIN ===== */
.login-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: var(--theme-acent);
  color: var(--bs-light);
}

.login-text,
.login-footer {
  display: none;
}

.login-area {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-box {
  display: flex;
  flex-direction: column;
}

.login-form {
  width: 400px;
}

.login-form .form-group {
  margin-bottom: 1rem;
}

.login-form .form-control {
  height: auto;
  padding: 1rem;
  font-size: var(--fs-normal);
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
}

.login-form .form-control:focus {
  background-color: #EBEDF3;
  border-color: #EBEDF3;
  color: #3F4254;
  box-shadow: none;
}

.login-form .btn {
  padding: .75rem 2rem;
  font-size: var(--fs-normal);
  font-weight: 600;
  background-color: var(--theme-acent);
  color: var(--bs-light);
}

.get-apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
}

@media screen and (min-width: 768px) {
  .login-wrapper {
    flex-direction: row;
  }

  .login-aside {
    width: 33.3%;
    padding: 2rem;
  }

  .login-text,
  .login-footer {
    display: block;
  }

  .get-apps {
    flex-direction: row;
    gap: .5rem;
  }
}

/* ===== NAVBAR TOP ===== */

.navbar-top {
  position: fixed;
  display: flex;
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem 0 0;
  background-color: var(--theme-acent);
  color: var(--bs-light);
  z-index: 2;
  transition: all .3s ease-in-out;
}

.navbar-top .navbar-top-brand {
  margin-left: auto;
}

.navbar-top .navbar-top-brand .brand-logo {
  display: none;
}

.navbar-top-toggle {
  display: flex;
  font-size: var(--fs-md);
  margin-left: 1rem;
  cursor: pointer;
}

.navar-top-title {
  flex: 1 1 auto;
  text-align: center;
}

.navbar-top-profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-top-profile .nav-link {
  padding: inherit;
}

.navbar-top-profile .username {
  display: none;
}

.navbar-top-profile .avatar {
  width: 30px;
  border-radius: 50%;
  overflow: hidden
}

.dropdown-menu,
.navbar-top .dropdown-menu {
  font-size: var(--fs-normal);
}

@media screen and (min-width: 768px) {
  .navbar-top {
    height: var(--header-height-lg);
    background-color: var(--bs-white);
    border-bottom: 1px solid var(--bs-border-color);
    color: var(--bs-dark);
  }

  .navbar-top .navbar-top-brand {
    margin-left: 0;
    width: var(--nav-width-expand);
    height: var(--header-height-lg);
    background-color: var(--theme-acent);
    z-index: 3;
  }

  .navbar-top .navbar-top-brand .brand-logo {
    display: unset;
    margin-right: 1rem;
  }

  .navbar-top-toggle {
    display: none;
  }

  .navbar-top-profile .username {
    display: block;
    margin-right: .5rem;
  }
}


/* ===== NAVBAR VERTICAL ===== */
.offcanvas.offcanvas-start,
.navbar-vertical {
  position: fixed;
  top: var(--header-height);
  padding: 0;
  width: var(--nav-width-expand);
  background-color: var(--theme-dark);
  color: rgba(var(--bs-light-rgb), .5);
  overflow: hidden;
  flex-direction: inherit;
  border-right: none;
}

.navbar-vertical .nav {
  flex-flow: column nowrap;
  margin-left: .5rem;
}

.navbar-vertical .nav-link {
  border-left: 3px solid var(--theme-dark);
  color: rgba(var(--bs-light-rgb), .75);
}

.navbar-vertical .nav-link.active {
  background-color: rgba(var(--bs-dark-rgb), .25);
  border-color: yellowgreen;
  color: rgba(var(--bs-light-rgb), 1);
}

.navbar-vertical .nav-link:hover {
  color: rgba(var(--bs-light-rgb), 1);
}

.navbar-vertical-content {
  height: calc(100vh - var(--header-height));
  padding: 1rem 0;
  overflow: hidden auto;
}

.navbar-vertical-label-wrapper {
  margin-bottom: 1rem;
}

.navbar-vertical-label {
  margin-left: 1rem;
  font-size: var(--fs-sm);
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-vertical-divider {
  margin-top: .475rem;
}

.nav-link {
  padding: .65rem 1rem;
}

.navbar-vertical.shrink .nav-link .fas,
.nav-link .fas {
  font-size: var(--fs-md);
  margin-right: .5rem;
}

.scrollbar::-webkit-scrollbar {
  visibility: hidden;
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0)
}

.scrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .25)
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:focus::-webkit-scrollbar,
.scrollbar:focus::-webkit-scrollbar-thumb {
  visibility: visible
}

.offcanvas-backdrop {
  top: var(--header-height);
}

@media screen and (min-width: 768px) {
  .offcanvas.offcanvas-start,
  .navbar-vertical {
    top: var(--header-height);
    left: 0;
    width: var(--nav-width-expand);
    height: calc(100vh - var(--header-height-lg));
    background-color: var(--theme-acent);
    visibility: inherit;
    transform: none;
  }

  .navbar-vertical-brand {
    width: var(--nav-width-expand);
    height: var(--header-height-lg);
    background-color: var(--theme-acent);
  }

  .navbar-vertical .nav-link {
    border-left: 2px solid var(--theme-acent);
  }

  .navbar-vertical .nav-link-text,
  .navbar-vertical .navbar-vertical-label,
  .dropdown-indicator:after {
    display: unset;
  }

  .nav-link .fas {
    font-size: var(--fs-normal);
  }

  .offcanvas-backdrop {
    display: none;
    top: var(--header-height);
  }
}

/* ===== MAIN ===== */

.main {
  display: flex;
  flex-direction: column;
  transition: all 300ms ease-in-out;
  min-height: calc(100vh);
  background-color: var(--bs-light);
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: var(--nav-width-expand);
  }
}


/* ===== CONTENT ===== */

.content {
  margin-top: var(--header-height);
}

.section-title {
  margin-bottom: 1rem;
}

.section-title h5 {
  font-size: var(--fs-md);
  margin-bottom: 0;
}

.section-title hr {
  margin: .7rem 0 0;
}

.grid-col {
  display: flex;
  flex-direction: column;
}

.grid-col.col-sm {
  flex-direction: row;
}

.grid-col > * {
  flex: 1 0 0%;
  border-width: 1px; 
  border-style: solid;
  border-color: var(--bs-border-color);
}

.table-responsive td {
  white-space: nowrap;
}

.nav-tabs .nav-link {
  border-radius: 0;
  color: var(--bs-muted);
  border-top-width: 3px;
}

.nav-tabs .nav-link.active {
  border-top-color: var(--theme-acent) !important;
}

.disabled>.page-link {
  background-color: var(--bs-white);
}

.calendar-grid .calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-grid .calendar-header .btn-nav {
  border: 1px solid var(--bs-border-color);
}

.calendar-grid .calendar-header .header-month {
  font-size: var(--fs-md);
  font-weight: bold;
}

.calendar-grid .calendar-day,
.calendar-grid .calendar-date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.calendar-grid .calendar-day {
  margin-bottom: 1px;
  text-align: center;
  background-color: var(--bs-light);
  box-shadow: 0 0 0 1px var(--bs-border-color);
}

.calendar-grid .calendar-day > div {
  padding: .5rem;
}

.calendar-grid .calendar-day > div:first-child {
  background-color: var(--bs-danger);
  color: var(--bs-light);
}

.calendar-grid .calendar-date > .day {
  display: flex;
  flex-direction: column;
  padding: .25rem .5rem;
  box-shadow: 0 0 0 1px var(--bs-border-color);
}

.calendar-grid .calendar-date > .day > .day-date {
  font-weight: 500;
  margin-left: auto;
}

.legend {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(2, 1fr);
  gap: .25rem;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item > .legend-code {
  margin-right: .5rem;
  padding: .25rem .5rem;
  width: 3.25rem;
  border-radius: .25rem;
  color: var(--bs-light);
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    margin-top: var(--header-height-lg);
  }

  .grid-col.col-sm {
    flex-direction: column;
  }

  .table-responsive td {
    white-space: wrap;
  }

  .legend {
    grid-template-columns: repeat(2, 47%);
  }
}

/* ===== FORM ====== */

.form-wrapper .form-control {
  margin-bottom: 1rem;
}

.form-wrapper .form-group label {
  margin-bottom: .375rem;
}

.form-control-fluid {
  height: auto;
  padding: .5rem .75rem;
  font-size: var(--fs-normal);
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
}

.form-control:focus {
  box-shadow: none;
  background-color: #EBEDF3;
  border-color: #EBEDF3;
  color: #3F4254;
}

/* ===== MODAL ===== */

.modal .btn {
  padding: .5rem 1.5rem;
  font-size: var(--fs-normal);
}